include header.pug

style.
	#previewWrap {
		width: calc( #{ settings.resolution.x }px * 0.15 );
		height: calc( #{ settings.resolution.y }px * 0.15 );
		padding: 0;
		overflow: hidden;
		border: 1px solid black;
	}

	#previewFrame {
		width: #{ settings.resolution.x }px;
		height: #{ settings.resolution.y }px;
		border: 0;
		-ms-transform: scale(0.15);
		-moz-transform: scale(0.15);
		-o-transform: scale(0.15);
		-webkit-transform: scale(0.15);
		transform: scale(0.15);
		-ms-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}

if adminPermission
	div.container-fluid
		div.row
			div.col-md-12
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Add New Slide
					div.panel-body
						form.form-horizontal(action='/slide', method='POST')
							div.form-group.form-group-sm
								div.col-md-12
									textarea#slideEdit.form-control(name='content', required='required') #{slideTemplate.content}
							div.form-group.form-group-sm
								label.col-md-1.control-label(for='expire') Expire Time (seconds)
								div.col-md-6
									input.form-control(type='text', name='expire', required='required', value=slideTemplate.expire)
								div.col-md-5
									p How long until the slide is auto-deleted? Enter <strong>0</strong> and the slide will never be deleted.
									p Examples:
										i 60 = 1 minute, 300 = 5 minutes, 900 = 15 minutes, 1800 = 30 minutes, 3600 = 1 hour
							div.form-group.form-group-sm
								label.col-md-1.control-label(for='delay') Display Time (seconds)
								div.col-md-6
									input.form-control(type='text', name='delay', required='required', value=slideTemplate.delay)
								div.col-md-5
									p How long to display this slide before going to the next one.
									p Examples: 
										i 60 = 1 minute, 300 = 5 minutes, 900 = 15 minutes, 1800 = 30 minutes, 3600 = 1 hour
							div#previewWrap(style='float: right;')
								iframe#previewFrame(src='/control/preview')
							button.btn.btn-default.previewBtn(style='float: right; margin-right: 20px;') Update Preview
							button.btn.btn-default.submitBtn(type='submit') Add Slide
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Existing Slides
					div.panel-body
						div.table-responsive
							table#slideTable.table.table-hover
								tr
									th Id
									th Added
									th Content
									th Expiry
									th Display Time
									th Actions
								each slide in slides
									tr
										td= slide.id
										td= slide.added
										td= slide.content
										td= slide.expire
										td= slide.delay
										td
											a.inline-button.inline-edit(href='/control/slides/edit?id=' + slide.id) Copy &amp; Edit
											a.inline-button.inline-delete(href='/slide/delete?id=' + slide.id) Delete
				div.panel.panel-default
					div.panel-heading
						h3.panel-title Settings
					div.panel-body
						form#settingsForm.form-horizontal(action='/slide/settings', method='POST')
							div.form-group.form-group-sm
								label.col-sm-1.control-label(for='slideExpire') Default Expire Time (s)
								div.col-sm-11
									input.form-control(type='text', name='slideExpire', value=settings.slideExpire)
							div.form-group.form-group-sm
								label.col-sm-1.control-label(for='slideDisplay') Default Display Time (s)
								div.col-sm-11
									input.form-control(type='text', name='slideDisplay', value=settings.slideDisplay)
							button.btn.btn-default.submitBtn(type='submit') Save
else
	div.container-fluid
		p Admin permission needed to view slides.
include footer.pug

script(src='/ckeditor/ckeditor.js')
script.
	CKEDITOR.replace('slideEdit')
	$('.previewBtn').click(function(e) {
		e.preventDefault();
		var content = CKEDITOR.instances['slideEdit'].getData();
	console.log(content);
		$('#previewFrame').contents().find('div.auto-margin').html(content);
	});
